<div class="tournoi-item" (click)="navigateToTournoi(tournoi.id)">
  <div *ngIf="tournoi.stream_url; else defaultImage" class="stream-preview">
    <img src="vignette" alt="Aperçu du stream">
  </div>
  <ng-template #defaultImage>
    <img src="defaut" alt="Image par défaut">
  </ng-template>

  <div class="tournoi-info">
    <h3>{{ tournoi.name }}</h3>
    <p>{{ tournoi.description }}</p>

  </div>

</div>

<app-tournament-registration-button [tournoiId]="tournoi.id" [teamId]="teamId"></app-tournament-registration-button>

