<div class="navbar bg-base-100">
  <div class="navbar-start">
    <!-- ... autres éléments du menu start ... -->
  </div>

  <div class="navbar-center">
    <div class="inline-flex items-center">
      <input type="text" placeholder="Rechercher un tournoi..." class="input input-bordered" [(ngModel)]="searchTerm" />
      <button class="btn btn-primary" (click)="onSearch()">Rechercher</button>
    </div>
  </div>

  <div class="navbar-end">
    <ul class="menu menu-horizontal px-1">
      <li><a routerLink="/accueil">Accueil</a></li>

      <!-- Afficher Inscription seulement pour les utilisateurs non connectés -->
      <li *ngIf="!apiService.isLogged()"><a routerLink="/inscription">Inscription</a></li>

      <li><a routerLink="/tournoi">Création de tournoi</a></li>

      <!-- Afficher seulement pour les administrateurs -->
      <li *ngIf="apiService.isAdmin()"><a routerLink="/jeu">Création de jeu</a></li>

      <!-- Bouton Connexion pour les utilisateurs non connectés -->
      <li *ngIf="!apiService.isLogged()"><a routerLink="/connexion">Connexion</a></li>

      <!-- Image de profil pour les utilisateurs connectés -->
      <div *ngIf="apiService.isLogged()" class="dropdown dropdown-end">
        <div tabindex="0" role="button" class="btn btn-ghost btn-circle avatar">
          <div class="w-10 rounded-full">
            <img alt="Profil" src="https://daisyui.com/images/stock/photo-1534528741775-53994a69daeb.jpg" />
          </div>
        </div>
        <ul tabindex="0" class="mt-3 z-[1] p-2 shadow menu menu-sm dropdown-content bg-base-100 rounded-box w-52">
          <li><a [routerLink]="['/parametres', userId]">Profil</a></li>
          <li><a>Paramètres</a></li>
          <li><a (click)="onLogout()">Déconnexion</a></li>
        </ul>
      </div>
    </ul>
  </div>
</div>
