<app-menu></app-menu>
<div class="flex justify-center items-center min-h-screen bg-custom-bg-color">
  <div class="login-card">
    <h2 class="text-2xl font-semibold text-center">Création de tournoi</h2>
    <br>
<form [formGroup]="TournoiForm" (submit)="submitTournoi()">
  <div class="FormLa col-span-2 md:col-span-1">
    <label for="name">Nom du tournoi</label>
    <input type="text" id="name" formControlName="name" class="form-control" required>
  </div>
  <div class="FormLa col-span-2 md:col-span-1">
    <label for="description">description</label>
    <input type="text" id="description" formControlName="description" class="form-control" required>
  </div>
  <div class="FormLa col-span-2 md:col-span-1">
    <label for="begin_date">Début du tournoi</label>
    <p>format : aa-mm-jj hh:mm:ss (ex:2023-12-07 13:38:32)</p>
    <input type="text" id="begin_date" formControlName="begin_date" class="form-control" required>
  </div>
  <div class="FormLa col-span-2 md:col-span-1">
    <label for="end_date">Fin du tournoi</label>
    <p>format : aa-mm-jj hh:mm:ss (ex:2023-12-07 13:38:32)</p>
    <input type="text" id="end_date" formControlName="end_date" class="form-control" required>
  </div>
  <label for="select">Sélection du jeu</label>
  <select formControlName="jeu_id" id="select" class="select w-full max-w-xs">
    <option value="" >Select</option>
    <option *ngFor="let idJeu of jeux" value="{{idJeu.id}}">{{idJeu.name}}<img src="{{idJeu.image}}" alt="{{idJeu.name}}" class="jeu-image"></option>
  </select>
  <div class="FormLa col-span-2 md:col-span-1">
    <label for="stream_url">URL du Stream</label>
    <input type="url" id="stream_url" formControlName="stream_url" class="form-control">
  </div>
  <button type="submit" class="btn btn-primary">Créer le tournoi</button>
</form>
  </div>
</div>

