<form [formGroup]="loginForm" (submit)="onLoginSubmit()">
  <div class="form-group">
    <label for="identifier">Identifiant (email ou pseudo)</label>
    <input type="text" id="identifier" formControlName="identifier" class="form-control" required>
  </div>
  <div class="form-group">
    <label for="password">Mot de passe</label>
    <input type="password" id="password" formControlName="password" class="form-control" required>
  </div>
  <button type="submit" class="btn btn-primary">Se connecter</button>
</form>
