.drop-zone {
  border: 2px dashed #ccc;
  padding: 20px;
  text-align: center;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  align-items: center;
  max-height: 300px; /* Définissez la hauteur maximale souhaitée pour la div */
  overflow: hidden; /* Masquez le contenu qui dépasse la hauteur maximale */
}

.drop-zone-label {
  cursor: pointer;
  display: block;
}

.selected-file {
  margin-top: 10px;
  padding: 5px;
  border: 1px solid #ccc;
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-height: 300px; /* Définissez la hauteur maximale souhaitée pour la div */
  overflow: hidden; /* Masquez le contenu qui dépasse la hauteur maximale */
}

.selected-file button {
  margin-left: 10px;
}

.image-preview-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.image-preview {
  max-width: 200px; /* ou la taille maximale souhaitée */
  max-height: 200px; /* ou la taille maximale souhaitée */
  width: auto;
  height: auto;
  object-fit: contain; /* Garantit que l'image est entièrement visible */
}

.error-message {
  color: red;
  margin-top: 10px;
}
